<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Event On</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
     <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.ui.theme.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-b4964695-8b2f-20dd-2ced-c9f6141de24c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Header  -->
<header class="header-container">
    <!-- header top -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="login-details clearfix">
                        <li><a href="#" class="agenticon">Agent Login</a></li>
                        <li><a href="#" class="customericon">Customer Login</a></li>
                        <li class="membericon">Not a Member?</li>
                        <li><a href="#" class="pri-color">Register Now</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="social-icon pull-right">
                        <a href="#" class="facebook fa fa-facebook"></a>
                        <a href="#" class="twitter fa fa-twitter"></a>
                        <a href="#" class="googleplus fa fa-google-plus"></a>
                        <a href="#" class="dribble fa fa-dribbble"> </a>
                    </div>
                </div>
            </div> 
        </div>     
    </div>
    <!-- Main Header -->
    <div class="main-header affix">
        <!-- Moblie Nav wrapper -->
        <div class="mobile-nav-wrapper">
            <div class="container">
                <!-- logo -->
               <div id="logo">
<a href="index.htm"><img src="img/logo.png" alt=""></a> 
</div>
                <!-- Search -->
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Search" type="text" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
                <!-- moblie menu Icon -->
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- Main Nav -->
                <nav class="main-nav mobile-menu">

                    <ul class="clearfix">
                        <li class="parent "><a href="#">Home</a>

                            <!-- Sub Menu -->
                            <ul class="sub-menu">
                                <li class="arrow"></li>
                                <li><a href="index.html">Home-1</a></li> <li><a href="index-2.html">Home-2</a></li>
                                <li><a href="index-3.html">Home-3</a></li>
                                <li><a href="index-4.html">Home-4</a></li>
                                <li><a href="index-5.html">Home-5</a></li>
                                <li><a href="index-6.html">Home-6</a></li>
                            </ul>
                        </li>

                        <li class="parent"><a href="#">Events</a>
                            <!-- Sub Menu -->
                            <ul class="sub-menu">
                                <li class="arrow"></li>
                                <li><a href="event.html">Event</a></li>
                                <li><a href="event-sidebar-left.html">Event-Sidebar-Left</a></li>
                                <li><a href="event-sidebar-right.html">Event-Sidebar-Right</a></li>
                                <li><a href="event-detail.html">Event Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Directions</a></li>
                        <li><a href="event-tv.html">Events TV</a></li>
                       <li class="parent active"><a href="#">Blog</a>
                            <!-- Sub Menu -->
                            <ul class="sub-menu">
                                <li class="arrow"></li>
                                <li><a href="event-blog.html">Event Blog</a></li>
                                <li><a href="event-single-blog.html">Event Single-Blog</a></li>
                            </ul>
                        </li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>  
</header>  
<!-- Sub Banner -->
<section class="sub-banner newsection">
    <div class="container">
        <h2 class="title">Event Blog</h2>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
             <li>Event Blog</li>
        </ul>
    </div>
</section>

<!-- Events -->
<section class="events newsection">
    <div class="container">
        <div class="row">
            <div class="blog col-md-9">
                <div class="clearfix">

                    <div class="event-container clearfix">
                        <div class="event clearfix">
                            <div class="eventsimg">
                                <img src="img/515x390.gif" alt="">
                            </div>
                            <div class="event-content">
                                <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                <ul class="meta">
                                    <li><a href="#"><i class="icon fa  fa-music"></i>Audio</a>
                                    <li class="date"><i class="icon fa fa-calendar"></i>1 month ago</li>
                                    <li><a href="#"><i class="icon fa fa-comment"></i> 19</a> </li>
                                    <li><a href="#"><i class="icon fa fa-user"></i>by Admin</a></li>
                                </ul>
                                <p>Rapidiously engineer clicks-and-mortar testing procedures after enterprise testing procedures. Authoritatively develop transparent catalysts for change with client-based markets. </p>
                                <a href="event-single-blog.html" class="btn btn-disabled">read more</a>
                            </div>
                        </div>
                    </div>



                    <div class="event-container clearfix">
                        <div class="event clearfix">
                            <div class="eventsimg">
                                <img src="img/515x390.gif" alt="">
                            </div>
                            <div class="event-content">
                                <h3 class="title"><a href="#">Status Post Format With Right Oriented Sidebar</a></h3>
                                 <ul class="meta">
                                    <li><a href="#"><i class="icon fa fa-camera"></i>Photo</a>
                                    <li class="date"><i class="icon fa fa-calendar"></i>1 month ago</li>
                                    <li><a href="#"><i class="icon fa fa-comment"></i> 19</a> </li>
                                    <li><a href="#"><i class="icon fa fa-user"></i>by Admin</a></li>
                                </ul>
                                <p>Uniquely e-enable backward-compatible quality vectors without best-of-breed networks. Collaboratively embrace backend core competencies before wireless relationships. </p>
                                <a href="event-single-blog.html" class="btn btn-disabled">read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="event-container clearfix">
                        <div class="event clearfix">
                            <div class="eventsimg">
                               <img src="img/515x390.gif" alt="">
                            </div>
                            <div class="event-content">
                                <h3 class="title"><a href="#">Holisticly underwhelm economically</a></h3>
                                <ul class="meta">
                                    <li><a href="#"><i class="icon fa fa-globe"></i>Globe</a>
                                    <li class="date"><i class="icon fa fa-calendar"></i>1 month ago</li>
                                    <li><a href="#"><i class="icon fa fa-comment"></i> 19</a> </li>
                                    <li><a href="#"><i class="icon fa fa-user"></i>by Admin</a></li>
                                </ul>
                                <p>Progressively visualize revolutionary benefits vis-a-vis cross-platform quality vectors. Collaboratively leverage other's cooperative materials after premium data. Dynamically synergize innovative solutions and standardized supply chains. Professionally.Progressively visualize revolutionary benefits vis-a-vis cross-platform quality vectors.</p>
                                <a href="event-single-blog.html" class="btn btn-disabled">read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="event-container clearfix">
                        <div class="event clearfix">
                            <div class="eventsimg">
                                 <img src="img/515x390.gif" alt="">
                            </div>
                            <div class="event-content">
                                <h3 class="title"><a href="#">Continually reinvent economically  </a></h3>
                                 <ul class="meta">
                                    <li><a href="#"><i class="icon fa fa-link"></i>Link</a>
                                    <li class="date"><i class="icon fa fa-calendar"></i>1 month ago</li>
                                    <li><a href="#"><i class="icon fa fa-comment"></i> 19</a> </li>
                                    <li><a href="#"><i class="icon fa fa-user"></i>by Admin</a></li>
                                </ul>
                                <p>Nullam facilisis metus quis nunc rhoncus fringilla. Donec nec nisl nisl, vel tincidunt urna. Donec erat erat, suscipit vitae tristique non, posuere nec mi. In faucibus lobortis pharetra.. [...] </p>
                                <a href="event-single-blog.html" class="btn btn-disabled">read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="event-container clearfix">
                        <div class="event clearfix">
                            <div class="eventsimg">
                               <img src="img/515x390.gif" alt="">
                            </div>
                            <div class="event-content">
                                <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                 <ul class="meta">
                                    <li><a href="#"><i class="icon fa  fa-quote-right"></i>Quote</a>
                                    <li class="date"><i class="icon fa fa-calendar"></i>1 month ago</li>
                                    <li><a href="#"><i class="icon fa fa-comment"></i> 19</a> </li>
                                    <li><a href="#"><i class="icon fa fa-user"></i>by Admin</a></li>
                                </ul>
                                <p>Credibly disseminate B2C supply chains vis-a-vis pandemic bandwidth. Monotonectally administrate turnkey systems before real-time e-markets. Rapidiously productize highly efficient relationships via extensible methodologies. Completely matrix.</p>
                                <a href="event-single-blog.html" class="btn btn-disabled">read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="event-container clearfix">
                        <div class="event clearfix">
                            <div class="eventsimg">
                                <img src="img/515x390.gif" alt="">
                            </div>
                            <div class="event-content">
                                <h3 class="title"><a href="#">Professionally supply cross-unit networks </a></h3>
                                 <ul class="meta">
                                    <li><a href="#"><i class="icon  fa  fa-microphone"></i>Meeting</a>
                                    <li class="date"><i class="icon fa fa-calendar"></i>1 month ago</li>
                                    <li><a href="#"><i class="icon fa fa-comment"></i> 19</a> </li>
                                    <li><a href="#"><i class="icon fa fa-user"></i>by Admin</a></li>
                                </ul>
                                <p>Nullam facilisis metus quis nunc rhoncus fringilla. Donec nec nisl nisl, vel tincidunt urna. Donec erat erat, suscipit vitae tristique non, posuere nec mi. In faucibus lobortis pharetra.. [...] </p>
                                <a href="event-single-blog.html" class="btn btn-disabled">read more</a>
                            </div>
                        </div>
                    </div>


                    <ul class="pagination clearfix">
                        <li class=""><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class=""><a href="#">1</a></li>
                        <li class=""><a href="#">2</a></li>
                        <li class=""><a href="#">3</a></li>
                        <li class=""><a href="#">4</a></li>
                        <li class=""><a href="#">5</a></li>
                        <li class=""><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <aside id="aside" class="aside-bar-style-two clearfix">
                    <div class="widget border-remove clearfix">
                        <div class="eventform-con ">
                            <form>
                                <div class="form-input search-location">
                                    <input type="text" placeholder="Search anything" >
                                   
                                    <button class="icon fa fa-search"></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget clearfix">
                        <h3 class="title">Top Popular Post</h3>
                        <div class="top-ppost">
                            <div class="date">
                                <p><span>31</span>FEB</p>
                            </div>
                            <div class="content">
                                <h4  class="title"><a href="#">Using Social Services Increase Your Sales </a></h4>
                                <a href="#" class="meta"><i class="icon fa fa-map-marker"></i>Istanbul / TR</a>
                            </div>
                        </div>

                        <div class="top-ppost">
                            <div class="date">
                                <p><span>31</span>FEB</p>
                            </div>
                            <div class="content">
                                <h4  class="title"><a href="#">Using Social Services Increase Your Sales </a></h4>
                                <a href="#" class="meta"><i class="icon fa fa-map-marker"></i>Istanbul / TR</a>
                            </div>
                        </div>
                    </div>


                    <div class="widget clearfix">
                        <h3 class="title">Filter by Price </h3>

                        <div id="slider-range"></div>
                        <div class="">  

                            <p> <label for="amount">Price :</label>
                                <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" /> </p>
                                <a href="#" class="btn btn-disabled">FILTER</a> 
                            </div>
                        </div>

                        <div class="widget categories">
                            <h3 class="title">Filter by Categories</h3>
                            <ul>
                                <li><a href="#">Everything <span class="numbers">68</span></a></li>
                                <li><a href="#">Art<span class="numbers">10</span></a></li>
                                <li><a href="#">Classical & Opera<span class="numbers">25</span></a></li>
                                <li><a href="#">Classical<span class="numbers">30</span></a></li>
                                <li><a href="#">Opera<span class="numbers">100</span></a></li>
                                <li><a href="#">Comedy<span class="numbers">5</span></a></li>
                            </ul>
                        </div>

                        <div class="widget tag">
                            <h3 class="title">Tag</h3>  
                            <a href="#">Event</a><a href="#">Fashion</a><a href="#">Design</a><a href="#">Hotels</a><a href="#">Up Coming</a><a href="#">Venue</a><a href="#">Speaker</a><a href="#" class="last">Conference</a>
                        </div>  

                        <div class="widget">
                            <h3 class="title">Testimonials</h3>  
                            <div class="owl-testimonial">
                                <div class="testimonials">
                                    <div class="testimonials-content">
                                        <p>Nullam facilisis metus quis nunc rhoncus fringilla. Donec nec nisl nisl, vel tincidunt urna. Donec erat erat, suscipit vitae tristique non. [...] </p>
                                        <span class="arrow-down"></span>
                                    </div>
                                    <p class="name">by isamercan</p>
                                    <small>User interface Designer</small>
                                </div>
                                <div class="testimonials">
                                    <div class="testimonials-content">
                                        <p>Nullam facilisis metus quis nunc rhoncus fringilla. Donec nec nisl nisl, vel tincidunt urna. Donec erat erat, suscipit vitae tristique non. [...] </p>
                                        <span class="arrow-down"></span>
                                    </div>
                                    <p class="name">by isamercan</p>
                                    <small>User interface Designer</small>
                                </div>
                                <div class="testimonials">
                                    <div class="testimonials-content">
                                        <p>Nullam facilisis metus quis nunc rhoncus fringilla. Donec nec nisl nisl, vel tincidunt urna. Donec erat erat, suscipit vitae tristique non. [...] </p>
                                        <span class="arrow-down"></span>
                                    </div>
                                    <p class="name">by isamercan</p>
                                    <small>User interface Designer</small>
                                </div>
                                <div class="testimonials">
                                    <div class="testimonials-content">
                                        <p>Nullam facilisis metus quis nunc rhoncus fringilla. Donec nec nisl nisl, vel tincidunt urna. Donec erat erat, suscipit vitae tristique non. [...] </p>
                                        <span class="arrow-down"></span>
                                    </div>
                                    <p class="name">by isamercan</p>
                                    <small>User interface Designer</small>
                                </div>

                            </div>
                        </div>

                        <div class="widget news">
                            <h3 class="title">Join Our Newsletter</h3>
                            <form>
                                <div class="form-group">
                                    <input type="text" placeholder="Add Your Email" id="">
                                    <button class="icon fa fa-paper-plane-o "></button>
                                </div>
                                <button class="btn btn-disabled">Sign Up</button>
                            </form>
                        </div>
                    </aside>
                </div>
            </div> 
        </div> 
    </section>

    <footer class="main-footer">
        <div class="container">
            <div class="row">   
                <div class="widget col-md-3">
                    <div class="about">
                        <h2 class="title">About <span class="border"></span></h2>
                        <p>Vivamus ante nulla, ultrices ut molestie pellentesque, posuere eu ligula. In porttitor in turpis eu porttitor. </p> 
                    </div>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-map-marker"></i>1600 Pennsylvania Ave NW,
                            Washington, D.C., DC 20500, ABD</li>
                            <li> <i class="fa-li fa fa-phone fa-flip-horizontal"></i>+90 555 55 55</li>
                            <li><i class="fa-li fa fa-envelope-o "></i><a href="#">info@example.com</a></li>
                        </ul>           
                    </div>

                    <div class="widget col-md-3">
                        <h2 class="title">Recent Blog Posts<span class="border"></span></h2>
                        <div class="recent-blog">
                            <div class="recent-img">
                                <img src="img/70x70.gif" alt="">
                            </div>
                            <div class="recent-content">
                                <h3 class="title"><a href="#"> Lorem ipsum dolor sit amet consectetur. </a> </h3>
                                <p class="date"><i class="icon fa fa-calendar"></i>October 24th, 2013</p>
                                <p class="comment"><i class="icon fa fa-comment"></i><a href="#">23 Comments</a></p>
                            </div>
                        </div>

                        <div class="recent-blog">
                            <div class="recent-img">
                                 <img src="img/70x70.gif" alt="">
                            </div>
                            <div class="recent-content">
                                <h3 class="title"><a href="#"> Lorem ipsum dolor sit amet consectetur. </a> </h3>
                                <p class="date"><i class="icon fa fa-calendar"></i>October 24th, 2013</p>
                                <p class="comment"><i class="icon fa fa-comment"></i><a href="#">23 Comments</a></p>
                            </div>
                        </div>

                        <div class="recent-blog">
                            <div class="recent-img">
                                 <img src="img/70x70.gif" alt="">
                            </div>
                            <div class="recent-content">
                                <h3 class="title"><a href="#"> Lorem ipsum dolor sit amet consectetur. </a> </h3>
                                <p class="date"><i class="icon fa fa-calendar"></i>October 24th, 2013</p>
                                <p class="comment"><i class="icon fa fa-comment"></i><a href="#">23 Comments</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="widget lastest-tweets col-md-3">
                        <h2 class="title">Lastest Tweets<span class="border"></span></h2>
                        <ul class="fa-ul twitters"></ul>
                    </div>

                    <div class="widget col-md-3">
                        <h2 class="title">Flickr Photos<span class="border"></span></h2>
                        <div class="flicker flickrwidget"></div>   
                    </div>

                </div> 
            </div>
        </footer>    
        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

<script type="text/template" id="upcomeing-events-template">

    <div class="time-count-container">
        <div class="time days">
          <span class="count curr top"><%= curr.days %></span>
          <span class="count next top"><%= next.days %></span>
          <span class="count curr bottom"><%= curr.days %></span>
          <span class="count next bottom"><%= next.days %></span>
          <span class="label">days</span>
      </div>
      <span class="arrow">:</span>
  </div>

  <div class="time-count-container">
    <div class="time hours">
      <span class="count curr top"> <%= curr.hours %></span>
      <span class="count next top"><%= next.hours %></span>
      <span class="count curr bottom"><%= curr.hours %></span>
      <span class="count next bottom"><%= next.hours %></span>
      <span class="label">hours</span>
  </div>
  <span class="arrow">:</span>
</div>
<div class="time-count-container">
    <div class="time minutes">
      <span class="count curr top"><%= curr.minutes %></span>
      <span class="count next top"><%= next.minutes %></span>
      <span class="count curr bottom"><%= curr.minutes %></span>
      <span class="count next bottom"><%= next.minutes %></span>
      <span class="label">min</span>
  </div>
  <span class="arrow">:</span>
</div>
<div class="time-count-container">
    <div class="time seconds">
      <span class="count curr top"><%= curr.seconds %></span>
      <span class="count next top"><%= next.seconds %></span>
      <span class="count curr bottom"><%= curr.seconds %></span>
      <span class="count next bottom"><%= next.seconds %></span>
      <span class="label">sec</span>
  </div>

</div>
</script>


    </body>
    </html>
